
# DJANGO_SETTINGS_MODULE=base.settings.production

SECRET_KEY=my-secret-key
DEBUG=True

EMAIL=your-email
PASSWORD=email-password
 
OTP_EMAIL_VERIFY_EXPIRY_TIME=email-verify-expiry-time
OTP_PASSWORD_RESET_EXPIRY_TIM=password-reset-expiry-time

NAME=name-of-database
USER=username-of-database
DB_PASSWORD=password-of-database
HOST=host-of-database
PORT=port-of-database

TERMI_BASE_URL =termi-api-ley
TERMI_API_KEY =your-termii-api-key
PHONE_NUMBER_VERIFICATION =False or True

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
FRONTEND_URL=http://127.0.0.1:3000

CLOUDINARY_API_KEY = cloudinar-api-key
CLOUDINARY_API_SECRET = cloudinary-api-secret

OFFER_PLATFORM_FEE = 0.10
OFFER_URGENT_FEE = 1000

INTERSWITCH_CLIENT_ID = os.getenv("INTERSWITCH_CLIENT_ID")
INTERSWITCH_CLIENT_SECRET = os.getenv("INTERSWITCH_CLIENT_SECRET")
INTERSlWITCH_MERCHANT_CODE = os.getenv("INTERSWITCH_MERCHANT_CODE")

INTERSWITCH_BASE_URL = os.getenv("INTERSWITCH_BASE_URL", "https://sandbox.interswitchng.com/api/v3") # 'https://newwebpay.interswitchng.com/collections/w/pay'
INTERSWITCH_CALLBACK_URL = os.getenv("INTERSWITCH_CALLBACK_URL", f"{FRONTEND_URL}/payments/callback")
